*.class

# Package Files #
*.jar
*.war
*.ear
/build
/bin

# IDE Files #
.classpath
/.settings
.project
*/.settings

# Gradle Files #
/.gradle

# JRevel Files #
rebel.xml

# ETC Files #
.DS_Store
*.log